<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat Bot</title>

    <!-- CSS -->
    <link href="css/default.css" rel="stylesheet" />
	
	<!-- Libraries -->
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous">
	</script>
</head>

<body>
    <section id="chat"></section>

    <!-- JS -->
    <script src="../javascript/ajax_question.js"></script>
    <script src="../javascript/questions/prospective_students.js"></script>
    <script src="../javascript/questions/student_questions.js"></script>
    <script src="../javascript/questions/faculty_questions.js"></script>
    <script src="../javascript/questions/alumni_questions.js"></script>
    <script src="../javascript/questions/status_questions.js"></script>

    <script src="../javascript/questions/sample_questions.js"></script>

    <script src="../javascript/chat_bot.js"></script>
</body>

</html>
