<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat Bot</title>

    <!-- CSS -->
    <link href="css/default.css" rel="stylesheet" />
	
</head>

<body>
    <section id="chat"></section>

    <!-- JS -->
    <script src="../javascript/questions/prospective_students.js"></script>
    <script src="../javascript/questions/prospective_students.js"></script>
    <script src="../javascript/questions/student_questions.js"></script>
    <script src="../javascript/questions/faculty_questions.js"></script>
    <script src="../javascript/questions/alumni_questions.js"></script>
    <script src="../javascript/questions/status_questions.js"></script>

    <script src="../javascript/questions/sample_questions.js"></script>

    <script src="../javascript/chat_bot.js"></script>
</body>

</html>
