body {
    align-items: center;
    background-color: #2b2b2b;
	color: white;
    /*display: flex;*/
    font-family: Helvetica neue, roboto;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
	position: relative;
    text-align: center;
	vertical-align: middle;
}

section {
	margin: auto;
	height: 100%;
	width: 100%;
}

div {
    text-align: center;
}

span {
	display: inline-block;
	margin: auto 10px;
}



.questionText {
    color: white;
}

.questionOption {
    color: #3B67FD;
    text-decoration: underline;
}

.questionOption:hover {
    color: #7091FF;
    cursor: pointer;
}

.errorText {
    color: red;
}



/* Edit questions page */
.linkedQuestion {
    color: #aaaaaa;
	font-size: small;
}
